
data/
data/roo/
data/restricted/
data/inference/

.DS_Store
create_readme.sh
pushall
tree_data
code/.Rhistory
code/1_create_ROO/.snakemake/
code/.DS_Store
code/messy/
code/logs/
code/slurm*
code/slurm_files/

code/2_inference_TMB/cache/

*.so
*.o
code/2_inference_TMB/mm_multinomial/*.so
code/2_inference_TMB/mm_multinomial/*.o

results/results_stan/
code/3_analysis/validation/Homo_sapiens.GRCh37.87.sqlite


