
data/
data/roo/
data/restricted/
data/inference/

.DS_Store
create_readme.sh
pushall
tree_data
code/.Rhistory
code/1_create_ROO/.snakemake/
code/.DS_Store
code/messy/
code/logs/

code/2_inference_TMB/cache/

*.so
*.o

#results/results_stan/

